name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: set-matrix
        run: |
          DIRECTORIES=$(find . -type d -not -path '*/\.*' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=${DIRECTORIES}" >> $GITHUB_OUTPUT

  golangci:
    name: Lint
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        modules: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "stable"
          check-latest: true
          cache-dependency-path: "**/go.sum"
      - uses: actions/checkout@v6
      - uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest
          working-directory: ${{ matrix.modules }}
