name: links

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - uses: lycheeverse/lychee-action@v2.7.0
        with:
          fail: true
          args: >-
            -v -n "*.md" "**/*.md"
            --exclude "http://localhost*"
            --max-concurrency 5 --cache --max-cache-age 1d
